* {
  box-sizing: border-box; }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #787878; }

.section-outer {
  padding-left: 15px;
  padding-right: 15px; }

.section-inner {
  max-width: 1200px;
  margin: 0 auto; }

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

.button {
  padding: 20px 40px;
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: #10c9c3;
  cursor: pointer;
  color: #ffffff; }

.section-header {
  background-color: #e9e9e9; }
  .section-header .section-inner {
    display: flex;
    height: 100vh;
    flex-direction: column; }
  .section-header__nav {
    display: flex;
    margin-top: 40px;
    justify-content: space-between; }
    .section-header__nav-item {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 2;
      text-transform: uppercase;
      text-decoration: none;
      color: #191919;
      transition: 0.2s; }
      .section-header__nav-item + .section-header__nav-item {
        margin-left: 25px; }
      .section-header__nav-item.active, .section-header__nav-item:hover {
        color: #10c9c3; }
  .section-header-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end; }
    .section-header-content-wrapper {
      width: 50%; }
      .section-header-content-wrapper__title {
        margin-bottom: 30px;
        font-size: 38px;
        line-height: 1.3;
        color: #191919; }
      .section-header-content-wrapper__subtitle {
        margin-bottom: 35px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6; }

.section-about {
  padding-top: 100px;
  padding-bottom: 100px; }
  .section-about .section-inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-about__title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 2;
    color: #191919; }
  .section-about__text {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; }

.section-skills {
  background: linear-gradient(to right, #f8f9f9 50%, #e9e9e9 50%, #e9e9e9 50%);
  padding-top: 164px;
  padding-bottom: 164px; }
  .section-skills .section-inner {
    display: flex;
    flex-direction: column; }
  .section-skills__title {
    font-size: 30px;
    line-height: 2;
    color: #191919; }
  .section-skills__skill-progress {
    display: inline-block;
    font-family: 'Montserrat', sans-serif; }
    .section-skills__skill-progress .title {
      font-size: 12px;
      line-height: 2;
      text-transform: uppercase;
      color: #191919; }
    .section-skills__skill-progress-bar-75, .section-skills__skill-progress-bar-90, .section-skills__skill-progress-bar-65 {
      position: relative;
      z-index: 1;
      width: 45%;
      height: 3px;
      margin-top: 10px;
      margin-bottom: 35px;
      background-color: #e9e9e9; }
      .section-skills__skill-progress-bar-75:before, .section-skills__skill-progress-bar-90:before, .section-skills__skill-progress-bar-65:before {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 75%;
        height: 3px;
        background-color: #10c9c3; }
    .section-skills__skill-progress-bar-75:before {
      width: 75%; }
    .section-skills__skill-progress-bar-90:before {
      width: 90%; }
    .section-skills__skill-progress-bar-65:before {
      width: 65%; }

.section-statistics {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #10c9c3; }
  .section-statistics .section-inner {
    display: flex;
    justify-content: space-between; }
  .section-statistics-item {
    display: flex;
    align-items: center; }
    .section-statistics-item__icon {
      margin-right: 25px; }
    .section-statistics-item__text-number, .section-statistics-item__text-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      color: #ffffff; }
    .section-statistics-item__text-number {
      font-size: 18px;
      margin-bottom: 5px; }
    .section-statistics-item__text-title {
      font-size: 12px;
      text-transform: uppercase; }

.section-works-items {
  display: flex; }

.section-works-item {
  position: relative;
  width: 100%;
  background-color: #000; }
  .section-works-item__link {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    transition: 0.2s; }
  .section-works-item__img {
    display: block;
    width: 100%;
    height: auto;
    transition: 0.2s; }
  .section-works-item:hover .section-works-item__img {
    opacity: 0; }
  .section-works-item:hover .section-works-item__link {
    opacity: 1; }

.section-works-button {
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f5f5f5;
  color: #787878;
  cursor: pointer;
  transition: 0.1s; }
  .section-works-button:hover {
    background-color: #dddddd;
    color: #383838; }

.section-work-process {
  padding-top: 100px;
  padding-bottom: 100px; }
  .section-work-process .section-inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-work-process-title {
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #191919; }
  .section-work-process-text {
    width: 42%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.5; }
  .section-work-process-video {
    width: 100%;
    height: 60vh; }

.section-services {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f5f5f5; }
  .section-services-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px; }
  .section-services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .section-services-item__icon {
      margin-bottom: 25px; }
    .section-services-item__title {
      margin-bottom: 15px;
      font-size: 12px;
      text-transform: uppercase;
      color: #191919; }
    .section-services-item__text {
      width: 80%;
      font-size: 16px;
      line-height: 1.5; }

.section-testimonials {
  background-color: #10c9c3; }
  .section-testimonials .section-inner {
    height: 75vh; }
  .section-testimonials-slider {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative; }
    .section-testimonials-slider__slide {
      display: none;
      font-family: 'Montserrat', sans-serif;
      text-align: center; }
      .section-testimonials-slider__slide-comment {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        color: #ffffff; }
      .section-testimonials-slider__slide-author {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff; }
      .section-testimonials-slider__slide.active {
        display: block; }
    .section-testimonials-slider__dots {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translateX(-50%); }
    .section-testimonials-slider__dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.4; }
      .section-testimonials-slider__dot + .section-testimonials-slider__dot {
        margin-left: 10px; }
      .section-testimonials-slider__dot:hover {
        cursor: pointer; }
      .section-testimonials-slider__dot.active {
        width: 10px;
        height: 10px;
        opacity: 1; }
