// Variables

$color-main: #787878;
$color-second: #191919;
$color-third: #10c9c3;
$color-fourth: #e9e9e9;
$color-white: #ffffff;
$color-black: #000000;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// / Variables

// Mixins

@mixin font-monteserrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin font-nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

@mixin font-work-sans {
    font-family: 'Work Sans', sans-serif;
}

@mixin progress-bar {
    position: relative;
    z-index: 1;
    width: 45%;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: $color-fourth;
}

@mixin progress-bar-before {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 75%;
        height: 3px;
        background-color: $color-third;
}

// / Mixins

// Common

* {
    box-sizing: border-box;
}

body {
    @include font-nunito-sans;
    font-size: 16px;
    color: $color-main;
}

.section-outer {
    padding-left: 15px;
    padding-right: 15px;
}

.section-inner {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    @include font-monteserrat;
    font-weight: 700;
}

.button {
    padding: 20px 40px;
    border: none;
    outline: none;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    color: $color-white;
    background-color: $color-third;
    transition: 0.2s;

    &:hover {
        background-color: #0ea5a0;
        color: $color-fourth;
    }
}

// / Common

// Header 

.section-header {
    background-color: $color-fourth;
    
    .section-inner {
        display: flex;
        height: 100vh;
        flex-direction: column;
    }

    &__nav {
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
    
        &-item {
            @include font-monteserrat;
            font-size: 12px;
            font-weight: 700;
            line-height: 2;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-second;
            transition: 0.2s;

            & + & {
                margin-left: 25px;
            }

            &.active,
            &:hover {
                color: $color-third;
            }
        }
    }

    &-content {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;

        &-wrapper {
            @media (min-width: $screen-sm) {
                width: 50%;
            }

            &__title {
                margin-bottom: 30px;
                font-size: 38px;
                line-height: 1.3;
                color: $color-second;
            }

            &__subtitle {
                margin-bottom: 35px;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.6;
            }
        }
    }
}

// / Header

// About

.section-about {
    padding-top: 100px;
    padding-bottom: 100px;

    .section-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 2;
        color: $color-second;
    }

    &__text {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
}

//  / About

// Skills

.section-skills {
    background: linear-gradient(to right, #f8f9f9 50%, $color-fourth 50%, $color-fourth 50%);
    padding-top: 164px;
    padding-bottom: 164px;

    .section-inner {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 30px;
        line-height: 2;
        color: $color-second;
    }

    &__skill-progress {
        display: inline-block;
        @include font-monteserrat;

        .title {
            font-size: 12px;
            line-height: 2;
            text-transform: uppercase;
            color: $color-second;
        }
        &-bar-75,
        &-bar-90,
        &-bar-65 {
            @include progress-bar;

            &:before {
                @include progress-bar-before;
            }
        }
        &-bar-75 {
            &:before {
                width: 75%;
            }
        }
        &-bar-90 {
            &:before {
                width: 90%;
            }
        }
        &-bar-65 {
            &:before {
                width: 65%;
            }
        }
    }
}

// / Skills

// Statistics

.section-statistics {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $color-third;

    .section-inner {
        @media (max-width: $screen-xs-max) {
            display: flex;
            justify-content: center;
        }
    }

    &-wrapper {
        @media (min-width: $screen-sm) {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }

    &-item {
        display: flex;
        align-items: center;

        &__icon {
            @media (max-width: $screen-xs-max) {
                margin-right: 10px;
            }
            
            @media (min-width: $screen-sm) {
                margin-right: 25px;
            }
        }

        &__text {
            &-number,
            &-title {
                @include font-monteserrat;
                font-weight: 500;
                color: $color-white;
            }

            &-number {
                font-size: 18px;
                margin-bottom: 5px;
            }

            &-title {
                font-size: 12px;
                text-transform: uppercase;
            }
        }

        @media (max-width: $screen-xs-max) {
            align-self: flex-start;
            margin-bottom: 30px;
        }
    }
}

// / Statistics

.section-works {
    &-items {
        display: flex;
    }

    &-item {
        position: relative;
        width: 100%;

        background-color: $color-black;
        &__link {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            opacity: 0;
            transform: translate3d(-50%, -50%, 0);
            transition: 0.2s;
        }

        &__img {
            display: block;
            width: 100%;
            height: auto;
            transition: 0.2s;
        }

        &:hover {
            .section-works-item__img {
                opacity: 0;
            }
            .section-works-item__link {
                opacity: 1;
            }
        }
    }

    &-button {
        width: 100%;
        height: 100px;
        border: none;
        outline: none;
        @include font-monteserrat;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $color-fourth;
        color: $color-main;
        cursor: pointer;
        transition: 0.1s;

        &:hover {
            background-color: $color-main;
            color: $color-black;
        }
    }
}

// Work-process

.section-work-process {
    padding-top: 100px;
    padding-bottom: 100px;

    .section-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        margin-bottom: 40px;
        @include font-monteserrat;
        font-weight: 700;
        font-size: 30px;
        color: $color-second;
    }

    &-text {
        width: 42%;
        text-align: center;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 1.5;
    }
    
    &-video {
        width: 100%;
        height: 60vh;
    }
}

// / Work-process 

// Services

.section-services {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $color-fourth;

    &-items {
        @media (min-width: $screen-sm) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 55px;
        }
        @media (max-width: $screen-xs-max) {
            width: 70%;
            margin: 0 auto;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__icon {
            margin-bottom: 25px;
        }

        &__title {
            margin-bottom: 15px;
            font-size: 12px;
            text-transform: uppercase;
            color: $color-second;
        }

        &__text {
            width: 80%;
            font-size: 16px;
            line-height: 1.5;
        }
        @media (max-width: $screen-xs-max) {
            margin-bottom: 55px;
        }
    }
}

// Testimonials 

.section-testimonials {

    background-color: $color-third;

    .section-inner {
        height: 75vh;
    }

    &-slider {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;

        &__slide {
            display: none;
            @include font-monteserrat;
            text-align: center;

            &-comment {
                width: 70%;
                margin: 0 auto;
                margin-bottom: 30px;
                text-align: center;
                font-weight: 500;
                font-size: 24px;
                color: $color-white;
            }
    
            &-author {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: $color-white;
            }

            &.active {
                display: block;
            }
        }


        &__dots {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 2%;
            left: 50%;
            transform: translateX(-50%);
        }

        &__dot {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $color-white;
            opacity: 0.4;

            & + & {
                margin-left: 10px;
            }

            &:hover {
                cursor: pointer;
            }
         
            &.active {
                width: 10px;
                height: 10px;
                opacity: 1;
            }
        }
    }
}

// / Testimonials

// Clients

.section-clients {
    padding-top: 65px;
    padding-bottom: 65px;

    .section-inner {
        display: flex;
        justify-content: space-between;

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            align-items: center;
        }
    }

    &-item {
        @media (max-width: $screen-xs-max) {
            margin-bottom: 20px;
        }
    }


}

// / Clients

// Contacts

.section-contact {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $color-fourth;

    .section-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        margin-bottom: 25px;
        font-size: 30px;
        color: $color-second;
    }

    &-subtitle {
        width: 45%;
        margin-bottom: 35px;
        text-align: center;
        line-height: 1.5;
    }

    &-form {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;

        &__inputs-column {
            width: 100%;
            display: flex;

            .section-contact-form__input + .section-contact-form__input {
                margin-left: 30px;
            }
        }

        &__input {
            flex-grow: 1;
            width: 100%;

            input,
            textarea {
                width: 100%;
                padding: 18px;
                border: none;
                outline: none;
                font-size: 15px;
                transition: 0.2s;

                &:focus {
                    background-color: rgb(218, 218, 218);
                }
            }

            input {
                margin-bottom: 30px;
            }

            &.comment {
                height: 20vh;

                textarea {
                    height: 100%;
                }
            }
        }

        .button {
            margin-top: 30px;
        }
    }
}

// / Contact

// Footer

.section-footer {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 15px;
    background-color: $color-second;

    .section-inner {
        display: flex;

        @media (max-width: $screen-sm-max) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        @media (min-width: $screen-md) {
            justify-content: space-between;
        }
    }

    .item {
        margin-bottom: 8px;
        text-decoration: none;
        color: $color-main;

        &:hover {
            text-decoration: underline;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: $screen-sm-max) {
            align-self: flex-start;
        }
    }

    &-copyright {
        &__title {
            margin-bottom: 25px;
            font-size: 18px;
            color: $color-white;
        }

        &__text {
            @media (min-width: $screen-md) {
                width: 60%;
            }
        }
    }

    &-contacts {
        display: flex;
        flex-direction: column;
    }

    &-nav {
        display: flex;

        &-items {
            display: flex;
            flex-direction: column;

            & + & {
                margin-left: 50px;
            }
        }

        &-item {
            margin-bottom: 8px;
            text-decoration: none;
            color: $color-main;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-media {
        display: flex;
        flex-direction: column;

        &-item {
            margin-bottom: 8px;
            text-decoration: none;
            color: $color-main;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-copyright,
    &-contacts,
    &-nav {
        @media (max-width: $screen-sm-max) {
            margin-bottom: 35px;
        }
    }
}